SECRET_KEY=_y^d1sdfasfv1*
DEBUG=True
ALLOWED_HOSTS=localhost, 127.0.0.1
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=portal
DB_USER=portal
SMS_URL=http://sms_vendor.com/
SMS_USER=user
SMS_PASS=secret
SENDER_ID=portal
